In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data1.csv')
df.head()

   X1  X2  Y
0  49  43  0
1  74   0  0
2  86  51  0
3   3  66  1
4  33  54  1

In [ ]:
import matplotlib.pyplot as plt

X1=df['X1'].values.tolist()
X2=df['X2'].values.tolist()
Y=df['Y'].values.tolist()



for i in range(len(Y)):
    if Y[i]==0:
        plt.plot(X1[i],X2[i],'ro')
    else:
        plt.plot(X1[i],X2[i],'go')